.post-media-content {
  background-color: burlywood;
  .btn-shared-like {
    display: flex;
    align-items: center;
    font-size: 13px;
    &.like {
      font-weight: bold;
    }
  }
  .post-media-content-header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 15px;
    padding-bottom: 0;
    .post-media-content-header-prev {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      button {
        border: 0;
        background-color: transparent;
        cursor: pointer;
      }
    }
    .post-media-content-header-avatar {
      padding-right: 15px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: block;
      }
    }
    .post-media-content-header-content {
      .post-media-content-header-title {
        font-size: 15px;
        padding-top: 5px;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .post-media-content-header-publish {
        margin: 0;
        font-size: 14px;
      }
    }
  }
  .post-media-content-description {
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 0;
    &.inline-description {
      display: flex;

      .pmcd-star {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
      }
      .pmcd-end {
        font-size: 14px;
        white-space: nowrap;
      }
    }
  }
  .post-media-content-videos {
    cursor: pointer;
    padding-top: 5px;
    gap: 0.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: grid;
    div:last-child {
      grid-column: span 2 / span 2;
    }

    div {
      video {
        width: 100%;
        height: initial;
        display: block;
      }
    }
  }
  .post-media-content-shared {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border-top: 2px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;

    .post-media-content-shared-texts {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 8px;
      padding-right: 8px;
      padding-bottom: 10px;
      .post-media-content-shared-texts-content {
        display: flex;
        > div {
          display: flex;
          img {
            width: 18px;
            height: 18px;
          }
        }
      }
      .likex,
      .heartx {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        img {
        }
      }
    }
    .post-media-content-shared-icons {
      display: flex;
      border-top: 2px solid white;
      padding-top: 10px;
      //padding-bottom: 10px;
      justify-content: space-around;
      div {
        display: flex;
        align-items: center;
        font-size: 13px;
        img {
          margin-right: 3px;
        }
      }
    }
  }

  ///comentarios
  .post-media-content-comments {
    padding-left: 15px;
    padding-right: 15px;
    .bfc-content-box {
      display: flex;
      margin-bottom: 15px;
      .bfc-content-avatar {
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: block;
          margin-right: 5px;
        }
      }
      .bfc-content {
        font-size: 14px;
      }
    }
  }
  .post-media-content-comments-box-content {
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // right: 0;
    //background: oldlace;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    z-index: 12;
    .content-input-comments {
      border-radius: 26px;
      background-color:cadetblue;
      padding: 15px 0;
      width: 100%;
      display: flex;
      justify-content: space-between;

      input {
        background: transparent;
        border: 0;
        flex-grow: 1;
        padding-left: 25px;
        &:focus,
        &:focus-visible {
          outline: 0;
        }
      }
      button {
        background-color: transparent;
        border: 0;
      }
    }
  }
}

.modal-post-media {
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  width: 100%;
  background: red;
  height: 100%;
  overflow-y: auto;

  .modal-post-media-btn {
  }
  .post-media-content-header {
    position: fixed;
    background: red;
    top: 0;
    z-index: 111;
    padding-bottom: 10px;
    left: 0;
    right: 0;
    .post-media-content-header-content {
      white-space: nowrap;
      overflow: hidden;
      -webkit-line-clamp: 1;
      text-overflow: ellipsis;

      .post-media-content-header-title {
      }
    }
  }
}
